

body {
	background-color: rgb(255, 127, 80);
}

.wrapper {
    text-align: center;
    color: red;
}

.container {
	
	position: fixed;
  top: 50%;
  left: 20%;
  margin-top: -100px;
  margin-left: -100px;
}

.jumbotron {

}

#email {
	width: 150%;
}

#password {
	width: 150%;
}

